.logicGateIcon {
  height: 40px;
  width: 40px;
  position: relative;
  border-radius: 50%;
  object-fit: cover;
}
.outputFieldChild {
  height: 24px;
  width: 24px;
  position: relative;
}
.outputField {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.iconlylightarrowDown2 {
  height: 24px;
  width: 24px;
  position: relative;
}
.inputField {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.dataLink,
.userinfoheader {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.userinfoheader {
  flex: 1;
  align-items: center;
  padding: 0 0 18px;
}
.dataLink {
  align-self: stretch;
  align-items: flex-start;
  padding: 0 var(--padding-31xl);
}
.icon {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.searchinput {
  width: calc(100% - 20px);
  border: 0;
  outline: 0;
  font-family: var(--font-plus-jakarta-sans);
  font-size: var(--font-size-base);
  background-color: transparent;
  height: 24px;
  flex: 1;
  position: relative;
  line-height: 24px;
  color: var(--dark-04);
  text-align: left;
  display: flex;
  align-items: center;
  min-width: 150px;
  padding: 0;
}
.search,
.searchinputcontainer {
  align-self: stretch;
  display: flex;
  align-items: center;
}
.searchinputcontainer {
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-3xs-9);
}
.search {
  border-radius: var(--br-5xl);
  background-color: var(--color-white);
  border: 1px solid var(--primary-02);
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-mini);
}
.checker,
.inputCombiner,
.inputCombinerParent,
.messagesearch {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.messagesearch {
  flex: 1;
  flex-direction: column;
  flex-shrink: 0;
  debug_commit: 1de1738;
}
.checker,
.inputCombiner,
.inputCombinerParent {
  align-self: stretch;
}
.checker {
  flex-direction: row;
  padding: 0 var(--padding-xs);
}
.inputCombiner,
.inputCombinerParent {
  flex-direction: column;
}
.inputCombinerParent {
  padding: 0 0 var(--padding-9xs);
  gap: var(--gap-5xs);
}
.listChild {
  height: 60px;
  width: 60px;
  position: relative;
  border-radius: var(--br-5xs);
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.hahaThatsTerrifying,
.palakKapoor {
  align-self: stretch;
  position: relative;
}
.palakKapoor {
  margin: 0;
  font-size: inherit;
  line-height: 24px;
  font-weight: 700;
  font-family: inherit;
}
.hahaThatsTerrifying {
  font-size: var(--font-size-xs);
  line-height: 16px;
}
.palakKapoorParent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.am {
  position: relative;
  line-height: 16px;
  display: inline-block;
  min-width: 44px;
  white-space: nowrap;
}
.b,
.unreadNoChild {
  position: absolute;
  width: 100%;
  left: 0;
}
.unreadNoChild {
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  background-color: var(--color-lightcyan);
}
.b {
  height: 80%;
  top: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.unreadNo {
  width: 20px;
  height: 20px;
  position: relative;
  text-align: center;
  color: var(--primary-01);
}
.amParent {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.frameContainer {
  flex-direction: column;
  padding: var(--padding-11xs) 0 0;
  text-align: right;
  font-size: var(--font-size-3xs);
  color: var(--color-cadetblue);
}
.frameContainer,
.frameGroup,
.list,
.listInner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameGroup {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-base);
}
.list,
.listInner {
  flex: 1;
}
.listInner {
  flex-direction: column;
  padding: var(--padding-7xs) 0 0;
}
.list {
  flex-direction: row;
  gap: var(--gap-xs);
}
.newchaticon {
  width: 100%;
  height: 100%;
  z-index: 1;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 3px;
  transform: scale(1.522);
}
.wrapperNewchaticon {
  width: 60px;
  height: 60px;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapperNewchaticonWrapper {
  flex-direction: column;
  padding: var(--padding-9xs) 0 0;
  margin-left: -66px;
}
.frameParent,
.frameWrapper,
.listParent,
.wrapperNewchaticonWrapper {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.listParent {
  flex: 1;
  flex-direction: row;
  padding: 0 var(--padding-7xs) 0 0;
}
.frameParent,
.frameWrapper {
  flex-shrink: 0;
  box-sizing: border-box;
}
.frameWrapper {
  height: 64px;
  flex-direction: row;
  padding: 0 var(--padding-xs);
}
.frameParent {
  height: 668px;
  flex-direction: column;
  padding: 0 0 32px;
  gap: var(--gap-xs);
  debug_commit: 1de1738;
}
.valueComparatorList {
  height: 60px;
  width: 60px;
  position: relative;
  border-radius: var(--br-5xs);
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.hahaThatsTerrifying1,
.palakKapoor1 {
  align-self: stretch;
  height: 24px;
  position: relative;
  line-height: 24px;
  display: flex;
  align-items: center;
}
.hahaThatsTerrifying1 {
  height: 16px;
  font-size: var(--font-size-xs);
  line-height: 16px;
}
.resultCollector {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.am1 {
  align-self: stretch;
  height: 16px;
  position: relative;
  line-height: 16px;
  display: inline-block;
  white-space: nowrap;
}
.dataFlowController {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-lightcyan);
}
.errorHandlerList {
  position: absolute;
  height: 80%;
  width: 100%;
  top: 10%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.unreadNo1 {
  width: 20px;
  height: 20px;
  position: relative;
  text-align: center;
  color: var(--primary-01);
}
.dataRouter,
.errorForwarder {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.errorForwarder {
  align-self: stretch;
  align-items: flex-end;
  gap: var(--gap-5xs);
}
.dataRouter {
  width: 44px;
  align-items: flex-start;
  padding: var(--padding-11xs) 0 0;
  box-sizing: border-box;
  text-align: right;
  font-size: var(--font-size-3xs);
  color: var(--color-cadetblue);
}
.filterSet {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-base);
}
.conditionalBuilder,
.filterSet,
.list1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.conditionalBuilder {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-7xs) 0 0;
}
.list1 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-xs);
}
.listItem {
  height: 60px;
  width: 60px;
  position: relative;
  border-radius: var(--br-5xs);
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.hahaThatsTerrifying2,
.palakKapoor2 {
  align-self: stretch;
  position: relative;
  display: flex;
  align-items: center;
}
.palakKapoor2 {
  margin: 0;
  height: 24px;
  font-size: inherit;
  line-height: 24px;
  font-weight: 700;
  font-family: inherit;
}
.hahaThatsTerrifying2 {
  height: 16px;
  font-size: var(--font-size-xs);
  line-height: 16px;
}
.palakKapoorGroup {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.am2 {
  align-self: stretch;
  height: 16px;
  position: relative;
  line-height: 16px;
  display: inline-block;
  white-space: nowrap;
}
.b1,
.unreadNoItem {
  position: absolute;
  width: 100%;
  left: 0;
}
.unreadNoItem {
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  background-color: var(--color-lightcyan);
}
.b1 {
  height: 80%;
  top: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.unreadNo2 {
  width: 20px;
  height: 20px;
  position: relative;
  text-align: center;
  color: var(--primary-01);
}
.amGroup,
.frameWrapper1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.amGroup {
  align-self: stretch;
  align-items: flex-end;
  gap: var(--gap-5xs);
}
.frameWrapper1 {
  width: 44px;
  align-items: flex-start;
  padding: var(--padding-11xs) 0 0;
  box-sizing: border-box;
  text-align: right;
  font-size: var(--font-size-3xs);
  color: var(--color-cadetblue);
}
.frameParent1 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-base);
}
.frameDiv,
.frameParent1,
.list2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameDiv {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-7xs) 0 0;
}
.list2 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-xs);
}
.frameIcon {
  height: 60px;
  width: 60px;
  position: relative;
  border-radius: var(--br-5xs);
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.hahaThatsTerrifying3,
.palakKapoor3 {
  align-self: stretch;
  position: relative;
  display: flex;
  align-items: center;
}
.palakKapoor3 {
  margin: 0;
  height: 24px;
  font-size: inherit;
  line-height: 24px;
  font-weight: 700;
  font-family: inherit;
}
.hahaThatsTerrifying3 {
  height: 16px;
  font-size: var(--font-size-xs);
  line-height: 16px;
}
.palakKapoorContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.am3 {
  align-self: stretch;
  height: 16px;
  position: relative;
  line-height: 16px;
  display: inline-block;
  white-space: nowrap;
}
.b2,
.unreadNoInner {
  position: absolute;
  width: 100%;
  left: 0;
}
.unreadNoInner {
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  background-color: var(--color-lightcyan);
}
.b2 {
  height: 80%;
  top: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.unreadNo3 {
  width: 20px;
  height: 20px;
  position: relative;
  text-align: center;
  color: var(--primary-01);
}
.amContainer,
.frameWrapper2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.amContainer {
  align-self: stretch;
  align-items: flex-end;
  gap: var(--gap-5xs);
}
.frameWrapper2 {
  width: 44px;
  align-items: flex-start;
  padding: var(--padding-11xs) 0 0;
  box-sizing: border-box;
  text-align: right;
  font-size: var(--font-size-3xs);
  color: var(--color-cadetblue);
}
.frameParent2 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-base);
}
.frameParent2,
.list3,
.listInner1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.listInner1 {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-7xs) 0 0;
}
.list3 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-xs);
}
.dataSampler {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-base);
  flex-shrink: 0;
  debug_commit: 1de1738;
}
.dataSampler,
.errorCollector,
.messagescontainer,
.messagescontainer1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.errorCollector {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-xs);
}
.messagescontainer,
.messagescontainer1 {
  flex-direction: column;
  box-sizing: border-box;
}
.messagescontainer1 {
  align-self: stretch;
  height: 688px;
  overflow-y: auto;
  flex-shrink: 0;
  padding: 0 0 640px;
  gap: var(--gap-5xl);
}
.messagescontainer {
  width: 354px;
  background-color: var(--color-whitesmoke-100);
  padding: var(--padding-xl) var(--padding-4xs);
  min-width: 354px;
  max-width: 100%;
}
.contactimageIcon {
  width: 48px;
  height: 48px;
  position: relative;
  border-radius: var(--br-5xs);
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.outputCollector {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-9xs) 0 0;
}
.errorHandlerMap {
  margin: 0;
  position: relative;
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  font-family: var(--font-plus-jakarta-sans);
  color: var(--dark-01);
  text-align: left;
  display: inline-block;
  min-width: 109px;
}
.resultCombiner {
  width: 8px;
  height: 8px;
  position: relative;
  border-radius: 50%;
  background-color: var(--primary-01);
}
.conditionSplitter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0 0;
}
.dataMapperList {
  flex: 1;
  position: relative;
  font-size: var(--font-size-xs);
  line-height: 24px;
  font-weight: 500;
  font-family: var(--font-plus-jakarta-sans);
  color: #6e7fa9;
  text-align: left;
  display: inline-block;
  min-width: 29px;
  max-width: 100%;
}
.outputProcessorList,
.valueTransformerList {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
  max-width: 100%;
}
.valueTransformerList {
  align-self: stretch;
  flex-direction: row;
}
.outputProcessorList {
  flex: 1;
  flex-direction: column;
  min-width: 313px;
}
.phoneicon {
  width: 48px;
  height: 48px;
  position: relative;
  border-radius: var(--br-5xs);
  overflow: hidden;
  flex-shrink: 0;
}
.outputCollector1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.outputCollector2 {
  margin: 0;
  height: 52px;
  width: 48px;
}
.iconlylightsearch {
  position: absolute;
  top: 12px;
  left: 12px;
  width: 24px;
  height: 24px;
}
.searchicon {
  width: 48px;
  height: 48px;
  position: relative;
  border-radius: var(--br-5xs);
  overflow: hidden;
  flex-shrink: 0;
}
.outputCollector3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.iconlylightarrowDown21 {
  position: absolute;
  top: 12px;
  left: 12px;
  width: 24px;
  height: 24px;
}
.downarrowicon {
  width: 48px;
  height: 48px;
  position: relative;
  border-radius: var(--br-5xs);
  overflow: hidden;
  flex-shrink: 0;
}
.chatheadercontainer,
.outputCollector4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.chatheadercontainer {
  align-self: stretch;
  background-color: #f7f7fc;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-base) var(--padding-5xl);
  box-sizing: border-box;
  gap: var(--gap-xs);
  max-width: 100%;
}
.iconlylightlock {
  width: 24px;
  height: 24px;
  position: relative;
}
.outputRouter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1px 0 0;
}
.messagesAreEndToEnd {
  flex: 1;
  position: relative;
  font-size: var(--font-size-3xs);
  font-family: var(--font-plus-jakarta-sans);
  color: #312e40;
  text-align: left;
  display: inline-block;
  min-width: 260px;
  max-width: 100%;
}
.chatinfotag,
.controlFlowManager {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.chatinfotag {
  width: 482px;
  border-radius: 12px;
  background-color: #feecdc;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-5xl);
  gap: 10px;
}
.controlFlowManager {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-xl);
  flex-shrink: 0;
}
.img14Icon,
.img15Icon {
  width: 104px;
  height: 104px;
  position: relative;
  border-radius: var(--br-base) var(--br-base) var(--br-base) 0;
  object-fit: cover;
}
.img14Parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.img13Icon,
.img16Icon {
  width: 104px;
  height: 104px;
  position: relative;
  object-fit: cover;
}
.img13Icon {
  border-radius: var(--br-base) var(--br-base) var(--br-base) 0;
  display: none;
  min-height: 104px;
}
.errorHandler {
  position: relative;
  font-size: var(--font-size-base);
  display: inline-block;
  font-family: var(--font-plus-jakarta-sans);
  color: var(--color-white);
  text-align: left;
  min-width: 27px;
  white-space: nowrap;
  z-index: 2;
}
.iterationManager,
.multipleImages {
  border-radius: var(--br-base) var(--br-base) var(--br-base) 0;
  flex-direction: row;
}
.iterationManager {
  flex: 1;
  background-color: rgba(1, 1, 1, 0.5);
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-22xl) 36px 43px;
  z-index: 1;
}
.multipleImages {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  align-self: stretch;
  background-image: url(/public/img13@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.img16Parent,
.logicBranch,
.multipleImages,
.outputAggregator {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.img16Parent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-9xs);
}
.logicBranch,
.outputAggregator {
  flex-direction: row;
}
.logicBranch {
  flex: 1;
  gap: var(--gap-9xs);
}
.outputAggregator {
  width: 220px;
  padding: 0 var(--padding-9xs);
  box-sizing: border-box;
}
.inputCollector {
  flex: 1;
  position: relative;
  font-size: var(--font-size-sm);
  font-family: var(--font-plus-jakarta-sans);
  color: var(--color-gray-100);
  text-align: left;
}
.chattextcontainer {
  width: 304px;
  border-radius: var(--br-base) var(--br-base) var(--br-base) 0;
  background-color: var(--color-white);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-5xl);
  box-sizing: border-box;
}
.chattext {
  flex: 1;
  position: relative;
  font-size: var(--font-size-sm);
  font-family: var(--font-plus-jakarta-sans);
  color: var(--color-gray-100);
  text-align: left;
}
.chattextcontainer1 {
  width: 304px;
  border-radius: var(--br-base) var(--br-base) var(--br-base) 0;
  background-color: var(--color-white);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-5xl);
  box-sizing: border-box;
}
.chattext1 {
  flex: 1;
  position: relative;
  font-size: var(--font-size-sm);
  font-family: var(--font-plus-jakarta-sans);
  color: var(--color-gray-100);
  text-align: left;
}
.chattextcontainer2 {
  width: 304px;
  border-radius: var(--br-base) var(--br-base) var(--br-base) 0;
  background-color: var(--color-white);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-5xl);
  box-sizing: border-box;
}
.chattext2 {
  flex: 1;
  position: relative;
  font-size: var(--font-size-sm);
  font-family: var(--font-plus-jakarta-sans);
  color: var(--color-gray-100);
  text-align: left;
}
.chattextcontainer3 {
  width: 304px;
  border-radius: var(--br-base) var(--br-base) var(--br-base) 0;
  background-color: var(--color-white);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-5xl);
  box-sizing: border-box;
}
.nestedFunction {
  align-self: stretch;
  flex: 1;
  position: relative;
  font-size: var(--font-size-sm);
  font-family: var(--font-plus-jakarta-sans);
  color: var(--color-gray-100);
  text-align: left;
}
.chattextcontainer4 {
  align-self: stretch;
  height: 68px;
  border-radius: var(--br-base) var(--br-base) var(--br-base) 0;
  background-color: var(--color-white);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-5xl);
  box-sizing: border-box;
  debug_commit: 1de1738;
  white-space: nowrap;
}
.messagesentdate {
  width: 62px;
  height: 15px;
  position: relative;
  font-size: var(--font-size-xs);
  font-family: var(--font-plus-jakarta-sans);
  color: rgba(11, 48, 72, 0.7);
  text-align: left;
  display: inline-block;
  flex-shrink: 0;
  debug_commit: 1de1738;
}
.outputFilter,
.parallelSplitter {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.parallelSplitter {
  width: 304px;
  height: 44px;
  padding: 0;
  gap: var(--gap-5xs);
}
.outputFilter {
  align-self: stretch;
  height: 618px;
  overflow-y: auto;
  padding: var(--padding-xl) 22px 64px;
  gap: 16.7px;
  max-width: 100%;
}
.happy01SmileIcon {
  object-fit: cover;
}
.happy01SmileIcon,
.iconlylightplus {
  height: 24px;
  width: 24px;
  position: relative;
  min-height: 24px;
}
.chatinputbox,
.leftitemscontainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.leftitemscontainer {
  align-items: center;
  gap: var(--gap-5xl);
}
.chatinputbox {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: var(--color-white);
  height: 48px;
  flex: 1;
  border-radius: var(--br-5xl);
  overflow: hidden;
  align-items: flex-start;
  padding: var(--padding-xs) var(--padding-5xl);
  box-sizing: border-box;
  font-family: var(--font-plus-jakarta-sans);
  font-size: var(--font-size-sm);
  color: #909090;
  min-width: 300px;
  max-width: 100%;
}
.recordicon {
  height: 24px;
  width: 24px;
  position: relative;
}
.chatinputitems {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xl);
  max-width: 100%;
}
.chatinputcontainer {
  align-self: stretch;
  background-color: #f7f7f7;
  flex-direction: column;
  padding: var(--padding-base) var(--padding-5xl);
  box-sizing: border-box;
}
.chatinputcontainer,
.currentchatcontainer,
.messagesApp {
  max-width: 100%;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.currentchatcontainer {
  margin: 0;
  flex: 1;
  border-radius: 0 var(--br-5xl) var(--br-5xl) 0;
  background-color: #fafafa;
  flex-direction: column;
  min-width: 541px;
}
.messagesApp {
  width: 1187px;
  box-shadow: 0 100px 80px rgba(0, 0, 0, 0.07),
    0 41.8px 33.42px rgba(0, 0, 0, 0.05), 0 22.3px 17.87px rgba(0, 0, 0, 0.04),
    0 12.5px 10.02px rgba(0, 0, 0, 0.04), 0 6.7px 5.32px rgba(0, 0, 0, 0.03),
    0 2.8px 2.21px rgba(0, 0, 0, 0.02);
  border-radius: var(--br-5xl);
  background-color: var(--color-white);
  flex-direction: row;
  line-height: normal;
  letter-spacing: normal;
  row-gap: 20px;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--dark-01);
  font-family: var(--font-plus-jakarta-sans);
}
@media screen and (max-width: 950px) {
  .messagescontainer {
    flex: 1;
  }
  .outputFilter {
    padding-bottom: 42px;
    box-sizing: border-box;
  }
  .messagesApp {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 700px) {
  .messagescontainer1 {
    padding-bottom: 270px;
    box-sizing: border-box;
  }
  .chatheadercontainer,
  .chatinfotag {
    flex-wrap: wrap;
  }
  .outputFilter {
    height: auto;
  }
  .chatinputitems {
    flex-wrap: wrap;
  }
  .currentchatcontainer {
    min-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .dataLink {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .messagesearch {
    gap: var(--gap-xl);
  }
  .messagescontainer {
    min-width: 100%;
  }
  .valueTransformerList {
    flex-wrap: wrap;
  }
  .outputFilter {
    padding-bottom: 27px;
    box-sizing: border-box;
  }
}
